# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/bin

/src/day1
/src/day2
/src/day3
/src/day4
/src/day5
/src/day6
/src/day7
/src/day8
/src/day9
/src/day10
/src/day11
/src/day12
/src/day13
/src/day14
/src/day15
/src/day16
/src/day17
/src/day18
/src/day19
/src/day20
/src/day21
/src/day22
/src/day23
/src/day24
/src/day25